a.btn,
button.btn {
	color: $white;
	background: $blue-gradient;
	box-shadow: 0px 20px 30px 0px rgba(88, 79, 205, 0.20);
	@include button-text;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	height: 60px;
	text-decoration: none;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.4s ease-in-out;
	padding: 10px 20px;

	&:hover {
		transform: scale(0.98);
	}

	&-sm {
		min-width: 205px;
		font-size: 14px;
		height: 40px;
		@media (min-width:$pc){
			font-size: 18px;
		}
	}

	&-md {
		min-width: 255px;
	}

	&-lg {
		min-width: 280px;
	}

	@media (min-width:$pc) {
		min-width: 360px;
		height: 70px;
	}
}