$text: #303030;
$black: #000000;
$white: #FFFFFF;
$blue: #1A73E8;
$bg: #F6F7FA;
$bg-light: #FCFCFF;
$bg-input: #F5F7F9;
$placeholder: #8789A1;
$blue-gradient: linear-gradient(90deg, #574DCC 0%, #579AFF 100%);